<% layout('/layouts/boilerplate.ejs') -%>

    <div class="row">
    <div class="col-8 offset-2">

        <form action="/login" method="POST" novalidate class="needs-validation">

            <h2 class="mb-3">Log In</h2>

            <!-- Username -->
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input
                    id="username"
                    name="username"
                    placeholder="Enter username"
                    type="text"
                    class="form-control"
                    required>
            
            </div>


            <!-- Password -->
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input
                    id="password"
                    name="password"
                    placeholder="Enter password"
                    type="password"
                    class="form-control"
                    required>
                <div class="invalid-feedback">Please Enter Password</div>
            </div>

            <button type="submit" class="btn btn-primary">Login</button>

        </form>
  </div>
  </div>
